.menu {
  margin: 20px;
}

.menuButton {
  padding: 10px;
  cursor: pointer;

  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: #007bff;
  border-radius: 5px;
}

.menuList {
  list-style: none;
  padding: 0;
}

.menuLink {
  text-decoration: none;
  color: black;
}
