.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #767779;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 50px;
  margin-right: 10px;
}

.logo p {
  margin: 0;
}

.nav {
  display: flex;
  gap: 20px;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: #007bff;
  border-radius: 5px;
}

.navLink:hover {
  background-color: #0056b3;
}
