.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f5f5f5;
}

.logo img {
  height: 50px;
}

.nav {
  display: flex;
  gap: 20px;
}

.navLink {
  text-decoration: none;
  color: black;
}
